<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/stylesheets/reset.css" />
    <link rel="stylesheet" href="../public//stylesheets/style.css" />

    <title>MASATAKA PORTFOLIO</title>
  </head>
  <body>
    <!--------------------header area------------------------->
    <header class="header">
      <h1 class="logo">MASATAKA</h1>
      <div class="border"></div>
      <nav class="nav-container">
        <ul  class="globalnav">
          <li class="nav-item"><a>TOP</a></li>
          <li class="nav-item"><a>作品集</a></li>
          <li class="nav-item"><a>私のできること</a></li>
          <li class="nav-item"><a>お問い合わせ</a></li>
        </ul>
      </nav>
      <div class="border"></div>
    </header>
    <main>
      <!--------------------about area------------------------->
      <section class="About"></section>
      <!--------------------portfolio area------------------------->
      <section class="Portfolio">
        <h2>ポートフォリオ</h2>
      </section>
      <!--------------------skill area------------------------->
      <section class="Skill">
        <h2>スキル</h2>
      </section>
      <!--------------------contact area------------------------->
      <section class="Contact">
        <h2>コンタクト</h2>
      </section>
    </main>
    <!--------------------footer area------------------------->
    <footer class="footer"></footer>
  </body>
</html>
