<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/stylesheets/reset.css" />
    <link rel="stylesheet" href="../public//stylesheets/style.css" />

    <title>MASATAKA PORTFOLIO</title>
  </head>
  <body>
        <!--------------------header area------------------------->
        <header class="header">
            <h1 class="logo">MASATAKA</h1>
            <div class="border"></div>
            <nav class="nav-container">
                <ul  class="globalnav">
                    <li class="nav-item"><a>TOP</a></li>
                    <li class="nav-item"><a>作品集</a></li>
                    <li class="nav-item"><a>私のできること</a></li>
                    <li class="nav-item"><a>お問い合わせ</a></li>
                </ul>
            </nav>
        </header>
        <main>
        <!--------------------about area------------------------->
        <section class="About">
            <div class="about-image">
                <img src="../public//images/3875371_s.jpg" alt="基盤と企業でｐｃを使う人">
            </div>
            <div class="about-text">
                <p>
                    こんにちは
                </p>
            </div>
        </section>
        <!--------------------portfolio area------------------------->
        <section class="Portfolio">
            <h2>ポートフォリオ</h2>
            <p class="p-text">＊実際より画像が縦伸ばしになっています。</p>
            <div class="Portfolio-content-wrapper">
                <div class="Portfolio-content">
                    <div class="p-item">
                        <h3 class="title">初案件</h3>
                        <p>HTML,CSS,jQuery</p>
                    </div>
                    <img src="../public/images/hatuannkenn.png" alt="hatuannkenn" width="100" height="300">
                    
                </div>
                <div class="Portfolio-content">
                    <div class="p-item">
                        <h3 class="title">個人用ブログ</h3>
                        <p>HTML,CSS,Node.js,MongoDB</p>
                    </div>
                    <a href="https://masablog.herokuapp.com/"><img src="../public/images/masablog.png" alt="masablog" width="100" height="300"></a>
                </div>
                <div class="Portfolio-content">
                    <div class="p-item">
                        <h3 class="title">リアルタイムお絵描きアプリ</h3>
                        <p>HTML,CSS,jQuery,node.js,MongoDB,javascript</p>
                    </div>
                    <img src="../public/images/socketio.png" alt="socketio" width="100" height="300">
                </div>
            </div>
            <div class="github">
                <p>その他コード</p>
                <a href="https://github.com/masa-1234tf"><img src="../public/images/icons8-github-squared-64.png" alt=""></a>
            </div>
        </section>
        <!--------------------skill area------------------------->
        <section class="Skill">
            <h2>スキル</h2>
        </section>
        <!--------------------contact area------------------------->
        <section class="Contact">
            <h2>コンタクト</h2>
        </section>
        </main>
        <!--------------------footer area------------------------->
        <footer class="footer"></footer>
    </body>
</html>
