<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/reset.css">
    <link rel="stylesheet" href="../public//stylesheets/style.css">
    
    <title>MASATAKA PORTFOLIO</title>
</head>
<body>
    <header class="header">
        <h1>MASATAKA</h1>
        <nav class="nav">
            <li>TOP</li>
            <li>作品集</li>
            <li>私のできること</li>
            <li>お問い合わせ</li>
        </nav>
    </header>
    <section class="About">

    </section>
    <section class="Portfolio">
        <h2>ポートフォリオ</h2>
    </section>
    <section class="Skill">
        <h2>スキル</h2>
    </section>
    <section class="Contact">
        <h2>コンタクト</h2>
    </section>
    <footer class="footer">

    </footer>
</body>
</html>