@charset "UTF-8";
* {
    box-sizing: border-box;
}
html {
    background-color: #000;
    color: #fff;
}
body {
    margin: 0;
    font-size: 14px;
    line-height: 1.8;
    font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans JP', "ヒラギノ角ゴ ProN W3", 'ヒラギノ角ゴ W3', "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
h1,h2 {
    text-align: center;
}
h1 {
    font-size: 40px;
    text-align: center;
}
h2 {
    padding-bottom: 30px;
}
a {
    text-decoration: none;
    color: #fff;
}
li {
    list-style: none;
}
.border {
    margin: 0 auto;
    max-width: 600px;
    border: 1px solid #fff;
}
/*-------------------------------------------
    Header
-------------------------------------------*/
.header {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.logo {
    margin: 50px auto 15px auto;
    width: 346px;
    height: 82px;
}
.nav-container {
    margin: 0 auto;
    max-width: 600px;
    background: #000000;
}

.nav-container ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-container .nav-item a {
    display: block;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    border-bottom: 8px solid #fff;
}

.nav-container li a:hover {
    color: #d2474a;
}
.globalnav li a:hover{
    border-bottom: 8px solid #7bae34;
    color: #7bae34;
}


/*-------------------------------------------
    About
-------------------------------------------*/
.About {
    padding: 60px;
    display: flex;
}
.about-image {
    width: 50%;
}
.about-image img{
    width: 100%;
}
.about-text {
    margin: auto;
}
/*-------------------------------------------
    Portfolio
-------------------------------------------*/
.Portfolio {
    padding: 60px;
}
.p-text {
    text-align: center;
    padding-bottom: 60px;
}
.github-auter {
    text-align: left;
    padding-top: 40px;
    padding-left: 50px;
}
.github {

}
.github a img{
    text-align: center;
    background-color: #fff;
}
.Portfolio-content-wrapper {
    display: flex;
    justify-content: space-between;
}
.Portfolio-content {
    padding-left: 50px;
    text-align: center;
}
.p-item {
    padding-bottom: 16px;
}
.title {
    padding-bottom: 16px;
}
/*-------------------------------------------
    Skill
-------------------------------------------*/
.Skill {
    padding: 60px;
}
.Skill-content-wrapper {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 280px);
    gap: 50px;
    justify-content: center;
}
.slill-card {
    background-color: rgb(92, 92, 92);
    padding: 20px;
    border-radius: 15px;
}
.slill-card h3{
    font-size: 20px;
    padding-bottom: 10px;
}
/*-------------------------------------------
    Contact
-------------------------------------------*/
.form-wrapper {
    max-width: 500px;
}
.cp_iptxt {
    position: relative;
    width: 80%;
    margin: 40px 3%;
}

.cp_iptxt input[type='text'] {
    font: 15px/24px sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 0.3em;
    transition: 0.3s;
    letter-spacing: 1px;
    color: #aaaaaa;
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
}

.ef input[type='text']:focus {
    border-bottom: 2px solid #da3c41;
    outline: none;
}
/*-------------------------------------------
    Footer
-------------------------------------------*/